[submodule "web"]
	path = web
	url = git@github.com:import-ai/omnibox-web.git
[submodule "wizard"]
	path = wizard
	url = git@github.com:import-ai/omnibox-wizard.git
[submodule "backend"]
	path = backend
	url = git@github.com:import-ai/omnibox-backend.git
