[submodule "web"]
	path = web
	url = git@github.com:import-ai/magic-box-web.git
[submodule "wizard"]
	path = wizard
	url = git@github.com:import-ai/magic-box-wizard.git
[submodule "backend"]
	path = backend
	url = git@github.com:import-ai/magic-box-backend.git
